body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 10px;
}

form {
  background: white;
  padding: 15px;
  max-width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 6px 0;
}

button {
  color: white;
  border: none;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  margin: 10px 0;
  background-color: blue;
}
